<polymer-element name="app-grid" attributes="query">
  <template>
    <link rel="stylesheet" href="app-grid.css.scss" />

    <core-media-query query="{{query}}" queryMatches="{{phoneScreen}}"></core-media-query>

    <template if="{{phoneScreen}}">
      <div layout vertical>
        <content></content>
      </div>
    </template>

    <div layout horizontal>

      <div class="left__content" flex>
        <content select="app-card"></content>
      </div>
      <div class="right__content" flex two>
        <content select="app-transfers"></content>
      </div>

    </div>

  </template>

  <script src="app-grid.js.coffee"></script>
</polymer-element>
