//colors
$black_37: rgba(0, 0, 0, 0.37);
$black_20: rgba(0, 0, 0, 0.2);
$black_30: rgba(0, 0, 0, 0.3);
$black_19: rgba(0, 0, 0, 0.19);
$black_17: rgba(0, 0, 0, 0.17);
$black_15: rgba(0, 0, 0, 0.15);

app-shadow {
  display: block;
  position: relative;
}
app-animated-shadow {
  display: block;
  position: relative;
}
app-shadow::shadow {
  #shadow-bottom {
    //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
    border-radius: inherit;
    pointer-events: none;
  }
  #shadow-top {
    //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
    border-radius: inherit;
    pointer-events: none;
  }
  #shadow-bottom[animated] {
    //Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  }
  #shadow-top[animated] {
    //Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.app-shadow-top-z-1 {
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: none;
}
.app-shadow-bottom-z-1 {
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 1px 4px 0 $black_37;
}
.app-shadow-top-z-2 {
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 2px 2px 0 $black_20;
}
.app-shadow-bottom-z-2 {
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 6px 10px 0 $black_30;
}
.app-shadow-top-z-3 {
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 11px 7px 0 $black_19;
}
.app-shadow-bottom-z-3 {
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 13px 25px 0 $black_30;
}
.app-shadow-top-z-4 {
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 14px 12px 0 $black_17;
}
.app-shadow-bottom-z-4 {
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 20px 40px 0 $black_30;
}
.app-shadow-top-z-5 {
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 17px 17px 0 $black_15;
}
.app-shadow-bottom-z-5 {
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 27px 55px 0 $black_30;
}
