//colors
$black_30: rgba(0,0,0,0.3);
$black: black;
$color_royal_blue_approx: #536dfe;
$color_ship_cove_approx: #7986cb;
$color_violet_red_approx: #ff4080;
$color_gallery_approx: #eee;
$color_steel_gray_approx: #1f2036;
$color_ebony_clay_approx: #262742;
$white: white;
$color_bright_gray_approx: #3a3b56;
$color_trendy_pink_approx: #9f499b;
$alabaster: #fafafa;
$color_royal_purple_approx: #6b499f;
$color_indigo_approx: #5c6bc0;
$color_red_violet_approx: #d61a7f;
$color_stack_approx: #8a8a8a;
$black_26: rgba(0,0,0,0.26);

//fonts
$font_0: Source Code Pro;
$font_1: Monaco;
$font_2: Menlo;
$font_3: Consolas;
$font_4: Courier New;
$font_5: monospace;

//@extend-elements
//original selectors
//h1, h2, h3, h4, h5
%extend_1 {
	font-weight: 300;
	letter-spacing: -0.01em;
	line-height: 48px;
	margin: 0;
}

//original selectors
//pre, .prettyprint
%extend_2 {
	background-color: $alabaster;
	padding: 16px;
	margin: 30px 0;
}


h1 {
	@extend %extend_1;
	font-size: 40px;
}
h2 {
	@extend %extend_1;
	font-size: 24px;
}
h3 {
	@extend %extend_1;
	font-size: 20px;
}
h4 {
	@extend %extend_1;
	font-size: 16px;
	font-weight: 500;
}
h5 {
	@extend %extend_1;
	font-size: 12px;
	font-weight: 500;
}
polyfill-next-selector {
	content: ':host h1';
	content: ':host h2';
	content: ':host h3';
	content: ':host h4';
	content: ':host h5';
	content: ':host header';
	content: ':host header h1';
	content: ':host header.shrink h1';
	content: ':host header.shrink summary';
	content: ':host header.shrink';
	content: 'header summary';
}
::content {
	h1 {
		font-size: 40px;
	}
	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 20px;
	}
	h4 {
		font-size: 16px;
		font-weight: 500;
	}
	h5 {
		font-size: 12px;
		font-weight: 500;
	}
}
.start {
	color: $color_royal_blue_approx;
}
.elements {
	color: $color_ship_cove_approx;
}
.guide {
	color: $color_violet_red_approx;
}
.main-bg {
	background-color: $color_gallery_approx !important;
}
.main-purple {
	background-color: $color_steel_gray_approx;
	paper-button {
		background: $color_ebony_clay_approx !important;
		color: $white;
		fill: currentcolor;
		&:hover {
			background: $color_bright_gray_approx !important;
		}
	}
}
code {
	color: $color_trendy_pink_approx;
	font-family: $font_0, $font_1, $font_2, $font_3, $font_4, $font_5;
}
pre {
	color: $color_trendy_pink_approx;
	font-family: $font_0, $font_1, $font_2, $font_3, $font_4, $font_5;
	@extend %extend_2;
	.typ {
		color: $color_royal_purple_approx;
	}
	.inline {
		color: $color_royal_purple_approx;
	}
	.pun {
		color: $color_indigo_approx;
	}
	.str {
		color: $color_violet_red_approx;
	}
	.string {
		color: $color_violet_red_approx;
	}
	.pln {
		color: $color_ship_cove_approx;
	}
	.kwd {
		color: $color_red_violet_approx;
	}
	.atn {
		color: $color_royal_purple_approx;
	}
	.attribute-name {
		color: $color_royal_purple_approx;
	}
	.atv {
		color: $color_ship_cove_approx;
	}
	.attribute-value {
		color: $color_ship_cove_approx;
	}
	.com {
		color: $color_stack_approx;
	}
	.comment {
		color: $color_stack_approx;
	}
}
.prettyprint {
	@extend %extend_2;
	.typ {
		color: $color_royal_purple_approx;
	}
	.inline {
		color: $color_royal_purple_approx;
	}
	.pun {
		color: $color_indigo_approx;
	}
	.str {
		color: $color_violet_red_approx;
	}
	.string {
		color: $color_violet_red_approx;
	}
	.pln {
		color: $color_ship_cove_approx;
	}
	.kwd {
		color: $color_red_violet_approx;
	}
	.atn {
		color: $color_royal_purple_approx;
	}
	.attribute-name {
		color: $color_royal_purple_approx;
	}
	.atv {
		color: $color_ship_cove_approx;
	}
	.attribute-value {
		color: $color_ship_cove_approx;
	}
	.com {
		color: $color_stack_approx;
	}
	.comment {
		color: $color_stack_approx;
	}
}
.polymer-status-badge {
	height: 20px;
	background-color: $black_26;
	text-transform: uppercase;
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 2px;
	font-size: 11px;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 1;
	color: $white;
	//Instead of the line below you could use @includebox-sizing($bs)
	box-sizing: border-box;
	margin: 0 24px;
}
:host {
	background-color: $color_steel_gray_approx;
	display: flex;
	align-items: flex-end;
	position: relative;
	z-index: 1;
	height: 286px;
	color: $white;
	padding-left: 64px;
	//Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: background-color 300ms ease-in;
	::content header {
		padding: 30px 0 40px;
		width: 100%;
		h1 {
			font-size: 45px !important;
			//Instead of the line below you could use @includetransform-origin($origin-x, $origin-y, $origin-z, $only3d)
			transform-origin: 0 0;
		}
		&.shrink {
			position: fixed;
			top: 0;
			pointer-events: none;
			h1 {
				//Instead of the line below you could use @includetransform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
				transform: scale(0.44444);
			}
			summary {
				visibility: hidden;
			}
		}
		summary {
			margin-top: 20px;
			opacity: 0.6;
		}
	}
}
:host([type="guide"]) {
	background-color: $color_violet_red_approx !important;
}
:host([type="elements"]) {
	background-color: $color_ship_cove_approx !important;
}
:host([type="start"]) {
	background-color: $color_royal_blue_approx !important;
}
@media only screen and(max-width: 580px) {
	:host {
		position: fixed;
		height: 60px !important;
		width: 100%;
		align-items: center !important;
		//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 1px 5px $black_30;
		::content header {
			display: none;
		}
	}
	polyfill-next-selector {
		content: ':host header';
	}
	polyfill-rule {
		content: 'header#internalheader';
		display: block;
		padding: 0;
		content: 'header#internalheader h2';
		margin: 0;
	}
}
@media only screen and(max-width: 850px) {
	polyfill-next-selector {
		content: ':host #dropdown-toggle';
		content: ':host dropdown-panel';
	}
	:host ::content {
		#dropdown-toggle {
			z-index: 1000;
		}
		dropdown-panel {
			color: $black;
		}
	}
}