:host {
  display: block;
}

.box {
  max-width: 500px;
  width: 500px;
  padding: 20px;
  display: inline-block;
  background: white;
  box-sizing: border-box;
  margin: 16px;
  border-radius: 2px;
  z-index:10;
}

.sign-card__shadow {
  display: inline-block;

}

.box-icon {
  background-color: #CDDC39;
  border-radius: 50%;
  display: table;
  height: 64px;
  width: 64px;
  margin: 0 auto;
  margin-top: -61px;
  padding: 17px;
  z-index:2000;
}


polyfill-next-selector { content: '.box-icon core-icon'; }
.box-icon ::content core-icon {
  fill:#fff;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  height: 64px;
  width: 64px;
}

polyfill-next-selector { content: '.box h3'; }
.box ::content h3 {
  text-transform: uppercase;
  font-size: 26px;
  letter-spacing: 2px;
  text-align: center;
}