<div layout="row" layout-sm="column">
  <div flex-gt-sm flex-sm>
    <div flex layout="column" class="left__panel">
      <md-whiteframe class="md-whiteframe-z1">

        <div layout="row" class="card__header accounts__header" layout-align="start start">
          <h3 class="account__header" flex>Счета</h3>
          <md-button class="md-icon-button md-primary" aria-label="More">
            <ng-md-icon icon="more_vert" size="24px"></ng-md-icon>
          </md-button>
        </div>

        <div class="card__inner">
          <div ng-controller="getAccounts">
            <!--<md-list>-->
            <div ng-repeat="account in accounts">
              <md-item-content>
                <div class="md-tile-left">
                  <ng-md-icon icon="credit_card" size="48px"></ng-md-icon>
                </div>
                <div class="md-tile-content"  layout="column">
                  <div class="account__title">{{account.title}}</div>
                  <div class="account__description">{{account.description}}</div>
                </div>
                <div class="md-secondary" layout="row">
                  <div class="account__balance">{{account.balance|currency}}</div>
                  <md-button class="md-icon-button md-primary" aria-label="More">
                    <ng-md-icon icon="more_vert" size="24px"></ng-md-icon>
                  </md-button>
                </div>
              </md-item-content>
              <md-divider md-inset ng-if="!$last"></md-divider>
            </div>
            <!--</md-list>-->

          </div>
        </div>



      </md-whiteframe>
    </div>
  </div>
  <div flex-gt-sm flex-sm>
    <div flex layout="column" class="right__panel">
      <md-whiteframe class="md-whiteframe-z1">
        <div layout="row" class="card__header invoices__header" layout-align="start start">
          <h3 class="account__header" flex>Операции</h3>
          <md-button class="md-icon-button md-primary" aria-label="More">
            <ng-md-icon icon="more_vert" size="24px"></ng-md-icon>
          </md-button>

        </div>

        <md-button class="md-fab md-primary" aria-label="Add invoice" id="add-invoice">
          <ng-md-icon icon="add" size="24px"></ng-md-icon>
        </md-button>

        <div class="card__inner">
          <div ng-controller="getInvoices">
            <div ng-repeat="invoice in invoices">
              <md-item-content class="{{invoice_types[invoice.invtype]}}">
                <div class="md-tile-left">
                  <ng-md-icon icon="{{consumption_types[invoice.consumption_type]}}" size="48px"></ng-md-icon>
                </div>

                <div class="md-tile-content"  layout="column">
                  <div class="account__title">{{invoice.note}}</div>
                  <div class="account__description">{{invoice.created_at}}</div>
                </div>

                <div class="md-secondary" layout="row">
                  <div class="account__balance">{{invoice.amount|currency}}</div>
                  <md-button class="md-icon-button md-primary" aria-label="More">
                    <ng-md-icon icon="more_vert" size="24px"></ng-md-icon>
                  </md-button>
                </div>
              </md-item-content>

              <md-divider md-inset ng-if="!$last"></md-divider>

            </div>
          </div>
        </div>
      </md-whiteframe>
    </div>
  </div>
</div>