<!--
 * This is a manifest file that'll be compiled into application.html, which will include all the files
 * listed below and their dependencies.
 *
 * Any html files within this directory, lib/assets/components, or vendor/assets/components
 * can be referenced here using a relative path.
 *
 *= require polymer/polymer
 *= require core-media-query/core-media-query
 *= require core-icons/core-icons
 *= require core-icon/core-icon
 *= require core-icon-button/core-icon-button
 *= require core-menu-button/core-menu-button
 *= require core-dropdown/core-dropdown
 *= require core-menu/core-menu
 *= require core-item/core-item
 *= require core-collapse/core-collapse
 *= require app-header/app-header
 *= require app-bar/app-bar
 *= require paper-button/paper-button
 *= require paper-item/paper-item
 *= require paper-toggle-button/paper-toggle-button
 *= require paper-fab/paper-fab
 *= require app-signin/app-signin
 *= require app-grid/app-grid
 *= require app-card/app-card
 *= require app-transfers/app-transfers
 *= require paper-input/paper-input
 *= require core-ajax/core-ajax
 *= require core-scaffold/core-scaffold
 *= require core-header-panel/core-header-panel
 *= require core-toolbar/core-toolbar
 *= require core-collapse/core-collapse
 *= require core-selector/core-selector
-->
