$font_main_primary: 'Open Sans';
$font_main_secondary: 'sans-serif';
$font_headers_primary: 'Roboto Slab';
$font_headers_secondary: serif;
$font_base_size: 12pt;

$color_text_dark: #273333;
$color_text_light: #fff;
$color_yellow: #FBCA54;
$color_red: #FC575E;
$color_green: #7CA668;
$color_blue: #5EA4CF;

$font_size_header_1: 4rem;
$font_size_header_2: 3.5rem;
$font_size_header_3: 3rem;
$font_size_header_4: 2.5rem;
$font_size_header_5: 2rem;
$font_size_header_6: 1.5rem;

$font_size_main_text: 2rem;
$font_size_description: 1.8 rem;
$font_size_small_text: 0.8rem;




