<polymer-element name="app-header" attributes="query">
  <template>
    <link rel="stylesheet" href="app-header.css.scss" />

    <paper-shadow z="1" class="header-page">
      <div class="nav"  horizontal layout center>
        <content select=".header__logo"></content>
        <div flex></div>
        <content></content>
      </div>
      
    </paper-shadow>
  </template>
  
  <core-media-query query="{{query}}" queryMatches="{{phoneScreen}}"></core-media-query>

  <script src="app-header.js"></script>
</polymer-element>
