-#%core-scaffold
-#	%core-header-panel{navigation:true, flex:true, mode:"seamed"}
-#		%core-toolbar MoneyBit.me
-#		%core-menu{theme:"core-light-theme"}
-#			%core-item{icon:"account-balance-wallet", label:"Операции"}
-#			%core-item{icon:"account-box", label:"Профиль"}
-#			%core-item{icon:"exit-to-app", label:"Выйти"}
-#	%div{tool:true} Title
-#	.scaffold__main
-#		%app-grid{query:"max-width: 581px"}
-#			%app-card
-#				%app-transfersd

#main__content{ "ng-view"=>true }