// colors

// $alarm_color: #FC575E;
// $main_color: #398EC4;
// $success_color: #7CA668;
// $warning_color: #FBCA54;
// $text_color: #273333;

// // fonts

$font_main_primary: 'Open Sans';
$font_main_secondary: 'sans-serif';
$font_headers_primary: 'Roboto Slab';
$font_headers_secondary: serif;

