
.account {
  padding-bottom: .5rem;
  padding-top: .5rem;
}
.account_title {
  font-size: 1.5rem;
  font-weight: 1.8rem ;
  color: #273333;
  text-transform: uppercase;
}

.account_balance {
  font-size: 1.8rem;
  font-weight: 1.8rem ;
  color: #273333;
  text-transform: uppercase;
}

.accounts_header {
  font-family: 'Open Sans', sans-serif;
}
