/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_self
 *= require_tree .
 */

@import "compass/css3";
@import "bootstrap";
@import "bootstrap-material-design";

@mixin vertical-align() {
  display: block;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }
  > * {
    display: inline-block;
    vertical-align: middle;
    width: 98%;
  }
}

.header {
  @extend .navbar;
  @extend .navbar-white;
}

.header__logo {
  @extend .navbar-brand;
  font-family: 'Kaushan Script', cursive;
  font-size: 36px;
}

.head__menu-box {
  @extend .navbar-collapse;
  @extend .collapse;
  @extend .navbar-responsive-collapse;
}

.head__menu-list {
  @extend .nav;
  @extend .navbar-nav;
  @extend .navbar-right;
}

.present {
  height:  500px;
  background-image: asset_url("landing-bg.png", image);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto 600px;
  @include box-shadow(rgba(0,0,0,0.2) 0px 0px 5px);
  margin-bottom: 100px;
  margin-top: -20px;

  .present__slogan {
    @include make-xs-column(5);


    .present__slogan--logo {
      font-family: 'Kaushan Script', cursive;
      font-size: 42px;
      color: white;
      padding-top: 150px;
    }
  }

  .present__image {
    @include make-xs-column(7);

    img {
      height: 500px;
    }

  }
}





html, body {
    height: 100%;
  background-color: white;
}

#wrap__navigation {
  height: 70px;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -70px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.footer {
  height: 70px;
  background-color: #273333;
  vertical-align: middle;
  color: #ffffff;
  padding-top: 10px;
  @include box-shadow(rgba(0,0,0,0.2) 0px 0px 5px);
}

a:visited.text-danger {
  color: #f44336;
}

a:visited.text-success {
  color: #0f9d58;
}

.logo {
  
}
