/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_self
 *= require_tree .
 */

@import "compass/css3";
@import 'shared/shared';

html, body {
    height: 100%;
}

#wrap__navigation {
  height: 70px;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -70px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.footer {
  height: 70px;
  background-color: #273333;
  vertical-align: middle;
  color: #ffffff;
  padding-top: 10px;
  @include box-shadow(rgba(0,0,0,0.2) 0px 0px 5px);
}

a:visited.text-danger {
  color: #f44336;
}

a:visited.text-success {
  color: #0f9d58;
}

.logo {
  
}