/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_self
 */

// @import "compass/css3";


// @import 'shared/shared';

$footer-padding: 150px;

html, body {
  height: 100%;
  margin: 0;
  font-family: 'RobotoDraft', sans-serif;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}

core-header-panel {
  height: 100%;
}

core-toolbar {
  background-color: #03A9F4;
  color: #ffffff;
  fill: #ffffff;
}

paper-icon-button {
  vertical-align: middle;
  width: 24px;
  height: 24px;
}

paper-icon-button #icon {
  display: block;
  pointer-events: none;
//  width: 16px;
//  height: 16px;
}

app-header-panel {
  height: 100%;
}

.paper__button {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  min-width: 5.14em;
  margin: 0 0.29em;
  text-align: center;
  font: inherit;
  text-transform: uppercase;
  user-select: none;
  cursor: pointer;
  z-index: 0;
  padding: 0.7em 0.57em
}

.success__button {
  background-color: #03A9F4;
}

.header__logo {
  font-family: 'Kaushan Script', cursive;
  color: #fff;
  font-size: 36px;
  text-decoration: none;
}

.header__link {
  text-decoration: none;
  color: #fff;
  font-size: 1.1em;
  padding: 7px 10px;
  transition: none;
  margin: 5px;
  text-transform: none !important;
}

a:hover.header__link {
  background-color: #0288D1;
}
//
.present {
  background-color: #03A9F4;
  color: #fff;
  padding-right: 150px;
  padding-left: 150px;
//  padding-top: 50px;
  height: 500px;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

.present__registry {
  background-color: #CDDC39;
  color: #212121;
}

.promo__registry {
  margin-top: 20px;
  margin-bottom: 50px;
  background-color: #03A9F4;
  color: #ffffff;
  a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
  }
}

.promo__header {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  font-size: 1.7rem;
  font-weight: 260;
}

.promo__header-block {
  margin-top: 40px;
  margin-bottom: 20px;
}

.present__logo {
  font-family: 'Kaushan Script', cursive;
  color: #fff;
  font-size: 32px;
}

.present__image {
  img {
    height: 500px;
  }
}

.present__slogan {
  font-family: 'Open Sans', sans-serif;
  font-size: 21px;
  font-style: italic;
}

.footer__link {
  text-decoration: none;
  color: #ffffff;
}

.promo__block {
  padding-right: $footer-padding;
  padding-left: $footer-padding;
}




.sign__in {
  color:  #03A9F4;
}

sign-card {
  margin-bottom: 100px;
  margin-top: 100px;
}