@import "compass/css3";

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.header {
  height:  500px;
  background-image: asset_url("landing-bg.png", image);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto 600px;
  @include box-shadow(rgba(0,0,0,0.2) 0px 0px 5px);
  margin-bottom: 100px;
//  box-shadow: inset 0px 0px 0 2000px rgba(0,0,0,0.2);
}


#logo__text {
  margin-top: 120px;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 5em;
  padding-top: 50px;
  margin-bottom: 50px;
  color: #ffffff;
}

.promo__header {
//  font-family: 'Roboto Condensed', sans-serif;
  color: #273333;
  font-weight: bold;
  text-align: center;
}

.promo__button {
  height: 200px;
  padding-top: 80px;
}

.slogan {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

#registry_slogan {
  margin-top: 40px;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.promo__line {
  height: 100%;
}

.promo__image {
  padding-top: 1.5rem;
  padding-right:  3rem;
  padding-left:  3rem;
}

.promo__text {
  padding-top: 4.5rem;
  height: 212px;
  padding-left:  3rem;
  padding-right:  3rem;
}

.promo__text > h4 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}

.promo__text > p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #273333;
}

.promo__text__left {
  height: 200px;
  padding-left: 1.5rem;
  text-align: right;
}

.promo__text > p {
  font-size: 16px;
  color: #637272;
}

.promo__text > p:hover {
  color: #273333;
}

.promo {
  padding: 2% 0;
  display:inline-block;
  vertical-align:middle;
}

p.promo {
  font-size: 15px;
  color: #273333;
}

