/*
 *= require_self
 */
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:700,400&subset=cyrillic-ext,cyrillic,latin);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400&subset=cyrillic,latin);

@import "angular-material/angular-material.css";
@import "font-awesome/css/font-awesome.css";
@import "ng-mfb/mfb/src/mfb.css";

html, body {
  height: 100%;
  margin: 0;
  color: #273333;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 12pt;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}

.menu__left .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}

.face {
  display: inline-block;
  margin: 4px 16px; 
  vertical-align: middle;
}

.menuBtn {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px 0 0 16px;
  width: 36px;
}

.header__logo {
  font-size: 2rem;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Kaushan Script', sans-serif;
}

md-toolbar h1 {
  font-weight: normal;
}
md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}

/* Using Data-URI converted from svg until <md-icon> becomes available
https://github.com/google/material-design-icons
*/
.menuBtn {
  background: transparent url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI0IDI0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGcgaWQ9IkhlYWRlciI+CiAgICA8Zz4KICAgICAgICA8cmVjdCB4PSItNjE4IiB5PSItMjIzMiIgZmlsbD0ibm9uZSIgd2lkdGg9IjE0MDAiIGhlaWdodD0iMzYwMCIvPgogICAgPC9nPgo8L2c+CjxnIGlkPSJMYWJlbCI+CjwvZz4KPGcgaWQ9Ikljb24iPgogICAgPGc+CiAgICAgICAgPHJlY3QgZmlsbD0ibm9uZSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ii8+CiAgICAgICAgPHBhdGggZD0iTTMsMThoMTh2LTJIM1YxOHogTTMsMTNoMTh2LTJIM1YxM3ogTTMsNnYyaDE4VjZIM3oiIHN0eWxlPSJmaWxsOiNmM2YzZjM7Ii8+CiAgICA8L2c+CjwvZz4KPGcgaWQ9IkdyaWQiIGRpc3BsYXk9Im5vbmUiPgogICAgPGcgZGlzcGxheT0iaW5saW5lIj4KICAgIDwvZz4KPC9nPgo8L3N2Zz4=) no-repeat  center center;
}

.card__inner {
  padding: 1rem .5rem;
}

.account__header {
  font-family: 'Roboto Slab', serif;
  font-size: 1.5rem;
  margin: 0rem;
}

.account__title {
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  margin: 0rem;
  font-style: bold;
}

.account__description {
  font-size: .8rem;
  color: #273333;
}

.account__balance {
  font-family: 'Roboto Slab', serif;
  font-size: 2rem;
  margin: 0rem;
  font-style: bold;
}

.account_currency {
  font-size: 1.4rem;
  margin: 0rem;
}

hr {
  border: none; /* Убираем границу */
  background-color: #273333; /* Цвет линии */
  color: #273333; /* Цвет линии для IE6-7 */
  height: 1px; /* Толщина линии */
}

ng-md-icon {
//  height: 2rem;
//  width: 2rem;
  margin: auto .5rem ;
}

.card__header {
  height: 100px;
  padding: 0.5rem 0rem 0rem 1rem;
}

.accounts__header {
  background: #FBCA54;
  color: #ffffff;
  fill: #ffffff
}


.invoices__header {
  background-color: #FC575E;
  color: #ffffff;
  fill: #ffffff
}

.add_fund {
  color: #7CA668;
  fill: #7CA668;
}

.withdrawal {
  color: #FC575E;
  fill: #FC575E;
}

#add-invoice {
  position: absolute;
  right: 50px;
  margin-top: -28px;
  color: #ffffff;
  fill: #ffffff;
}

.md-inline-list-icon-label {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  height: 0.6rem;
  font-size: 0.6rem;
  margin-bottom: 0.5rem;
}

.md-grid-text {
  padding-bottom: 5px; 
}

.md-inline-list-icon {
  height: 48px;
  width: 48px;
}

#main {
  background-color: #F5F5F5;
}

md-whiteframe {
  background-color: white;
}

.account_menu__button {
  height: 62px;
}

.account_menu__list {
  text-align: center;
}

.invoice__icon {
  height: 50px;
  font-size: 2rem;
  width: 50px;
  margin-right: 0.5rem;
  margin-left: .5rem;
}


@media only screen and (min-width: 600px) {
  .right__panel {
    margin-left: 0.5rem;
  }

  .left__panel {
    margin-right: 0.5rem;
  }
}