
.header__block {
  height:80px;
}

.header__logo {
  font-size: 2rem;
  color: #222;
  text-decoration: none;
  font-family: 'Kaushan Script', cursive;
}

.nav {
  max-width: 1200px;
  width: 100%;
}

.header__link {
  text-decoration:none;
  color:white;
}