.footer__block{layout:"row", "layout-align" => "center center"}
  .footer_container{layout:"row", "layout-align" => "start center"}
    %h2 &copy 2015 MoneyBit.me
    
    =link_to "Домой", "/"
    =link_to "О нас", "/about"
    =link_to "Условия использования", "/"
  