.header__block{layout:"row", "layout-align"=>"center center"}
  .nav{layout:"row", "layout-align" => "center center", 'md-theme' => "greenTheme"}
    %div
      = link_to 'MoneyBit.me', "/", class: "header__logo"
    
    %div{flex:true}
    
    - if user_signed_in?
      %md-button.md-primary.md-raised
        = link_to t(:sign_out_link), destroy_user_session_path, class: "header__link"
    - else
      %md-button.md-primary.md-raised
        = link_to t(:sign_in_link), new_user_session_path, class: "header__link"
      %md-button.md-primary.md-raised
        = link_to t(:sign_up_link), new_user_registration_path, class: "header__link"